<!DOCTYPE html>
<html>
<head>
	<title>I am a submission form</title>
</head>
<body>
	<form action = '/article' method='post'>
		<input type="text" name="author" placeholder="Author's Name">
		<input type="text" name="title" placeholder="Article Title">
		<input type="text" name="summary" placeholder="Article Summary">
		<input type="text" name="article" placeholder="Article">
		<input type="submit" value="Submit Article">
</body>
</html>